*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: hsl(240, 3%, 10%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-size: clamp(2vh, 1.25vmin, 1.5em);
}

.title {
    font-size: 3em;
    font-weight: bolder;
    color: white;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 0.25rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(20, minmax(auto, 1.5em));
    grid-auto-rows: 3em;
    gap: 0.25em;
    justify-content: center;
    position: fixed;
    bottom: 1em;
    width: 100%;
}

.key {
    font-size: inherit;
    font-weight: 600;
    grid-column: span 2;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(
        var(--hue, 200),
        var(--saturation, 1%),
        calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
    );
    color: white;
    fill: white;
    text-transform: uppercase;
    border-radius: 0.25em;
    cursor: pointer;
    user-select: none;
}

.key.large {
    grid-column: span 3;
}

.key > svg {
    width: 1.75em;
    height: 1.75em;
    pointer-events: none;
}

.key:hover,
.key:focus {
    --lightness-offset: 10%;
}

.key.wrong {
    --lightness: 23%;
}

.key.wrong-location {
    --hue: 49;
    --saturation: 51%;
    --lightness: 47%;
}

.key.correct {
    --hue: 115;
    --saturation: 29%;
    --lightness: 43%;
}

.guess-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(5, clamp(8vh, 2.5vmin, 3em));
    grid-template-rows: repeat(6, clamp(8vh, 2.5vmin, 3em));
    row-gap: 0.25em;
    column-gap: 0.25em;
}

.tile {
    font-size: 2.5em;
    color: white;
    border: 0.05em solid hsl(240, 2%, 23%);
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: transform 250ms linear;
    background-color: hsl(240, 3%, 5%);
}

.tile[data-state="active"] {
    border-color: hsl(200, 1%, 40%);
}

.tile[data-state="wrong"] {
    border: none;
    background-color: hsl(240, 2%, 23%);
}

.tile[data-state="wrong-location"] {
    border: none;
    background-color: hsl(49, 51%, 47%);
}

.tile[data-state="correct"] {
    border: none;
    background-color: hsl(115, 29%, 43%);
}

.tile.shake {
    animation: shake 250ms ease-in-out;
}

.tile.dance {
    animation: dance 500ms ease-in-out;
}

.tile.flip {
    transform: rotateX(90deg);
}

@keyframes shake {
    10% {
        transform: translateX(-5%);
    }

    30% {
        transform: translateX(5%);
    }

    50% {
        transform: translateX(-7.5%);
    }

    70% {
        transform: translateX(7.5%);
    }

    90% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes dance {
    20% {
        transform: translateY(-50%);
    }

    40% {
        transform: translateY(5%);
    }

    60% {
        transform: translateY(-25%);
    }

    80% {
        transform: translateY(2.5%);
    }

    90% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0);
    }
}

.alert-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    height: clamp(9vh, 2.5vmin, 3em);
    padding: 0.25rem;
    justify-content: center;
    user-select: none;
}

.alert.hide {
    opacity: 0;
}

.alert {
    color: black;
    pointer-events: none;
    justify-content: center;
    background-color: hsl(204, 7%, 85%);
    padding: 0.75em;
    border-radius: 0.25em;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    margin-bottom: 0.5em;
}

.alert:last-child {
    margin-bottom: 0;
}
